body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: o;
    background-color: palevioletred;
}

header {
    background-color: lightpink;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: plum
}
nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    width: 45px
    bac
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 10px;
}